USE [master]
GO
/****** Object:  Database [PaymentServices]    Script Date: 20/11/2018 0:27:24 ******/
CREATE DATABASE [PaymentServices]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PaymentServices', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\PaymentServices.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PaymentServices_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\PaymentServices_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PaymentServices].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PaymentServices]
GO
USE [PaymentServices]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 20/11/2018 0:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[IdPayment] [int] IDENTITY(1,1) NOT NULL,
	[PaymentNumber] [nvarchar](50) NOT NULL,
	[ClientCode] [nvarchar](50) NOT NULL,
	[TotalPayment] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[IdStatus] [int] NOT NULL,
	[IdPaymentType] [int] NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[IdPayment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 20/11/2018 0:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[IdPaymentType] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[IdPaymentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 20/11/2018 0:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[PaymentType] ON 

INSERT [dbo].[PaymentType] ([IdPaymentType], [Code], [Name], [IsActive]) VALUES (1, N'01', N'CreditCard', 1)
INSERT [dbo].[PaymentType] ([IdPaymentType], [Code], [Name], [IsActive]) VALUES (2, N'02', N'PayPal', 1)
INSERT [dbo].[PaymentType] ([IdPaymentType], [Code], [Name], [IsActive]) VALUES (3, N'03', N'MercadoPago', 1)
SET IDENTITY_INSERT [dbo].[PaymentType] OFF
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([IdStatus], [Code], [Name]) VALUES (1, N'01', N'Created')
INSERT [dbo].[Status] ([IdStatus], [Code], [Name]) VALUES (2, N'02', N'Cancel')
INSERT [dbo].[Status] ([IdStatus], [Code], [Name]) VALUES (3, N'03', N'Authorized')
SET IDENTITY_INSERT [dbo].[Status] OFF
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_OrderNumber]  DEFAULT ((1)) FOR [OrderNumber]
GO
ALTER TABLE [dbo].[PaymentType] ADD  CONSTRAINT [DF_PaymentType_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentType] FOREIGN KEY([IdPaymentType])
REFERENCES [dbo].[PaymentType] ([IdPaymentType])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentType]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Status] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[Status] ([IdStatus])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Status]
GO
USE [master]
GO
